body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
p {
    font-size: 80px;
    font-family: AppleGothic, sans-serif;
}
h1 {
    font-size: 100px;
    letter-spacing: .10em;
}

#progress {
    width: 100%;
}

.text {
    text-align: center;
    vertical-align: middle;
    margin: 5%;
}
.text img {
    height: 50%;
}

.vote {
    display: grid;
    grid-template-columns: 50% 50%;
}